@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}